<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-between align-items-center">
      <div style="font-size: 2rem;" class="logo">
        Retro Board
      </div>
      <div class="create-col-wrap">
        <mat-form-field class="example-form-field">
          <mat-label>Create new column</mat-label>
          <input 
            (keydown.enter)="onColumnNameEnter()" 
            matInput type="text" [(ngModel)]="headerValue">
          <button 
            style="border: none; background-color: transparent;" 
            mat-button *ngIf="headerValue" 
            matSuffix
            mat-icon-button aria-label="Clear" 
            (click)="headerValue=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>