<div class="container">
      <div cdkDropListGroup class="row">
        <div *ngFor="let name of columnNames; let i = index" class="col">
          <h2 style="text-align: center;">{{name}}</h2>
          <mat-form-field style="width: 100%;">
            <mat-label>Create task</mat-label>
            <input autocomplete="off" (keydown.enter)="createTask($event, name)"  matInput type="text">
            <button mat-button *ngIf="taskValue" matSuffix mat-icon-button aria-label="Clear" (click)="taskValue=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <div
            cdkDropList
            [cdkDropListData]="columns[name]"
            class="list-group"
            (cdkDropListDropped)="drop($event)">
            <div class="d-flex justify-content-between align-items-center py-1 list-group-item" *ngFor="let item of columns[name]" cdkDrag>
              <span>
                {{item.taskText}} 
                LIKES: {{item.likes}}
              </span>
              <div class="manage d-flex">
                <button (click)="addLike(name, item.taskText)"  mat-stroked-button class="d-flex justify-content-around align-items-center p-1 mx-1">
                  <span class="mx-1">Like</span>  
                  <span class="mx-1" style="color: red;" class="material-icons">
                  favorite
                  </span>
                </button>
                <app-modal [columnName]="name" [text]="item.taskText"></app-modal>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
