<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Leave Your Comment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-form-field style="width: 100%;">
      <mat-label>Comment</mat-label>
      <input autocomplete="off" (keydown.enter)="createComment()"  matInput type="text" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<button style="height: 44px;" mat-stroked-button  class="mx-1"  (click)="openVerticallyCentered(content)">Comment</button>